/* Define a class for the text container */
.text-container {
    font-size: 1.2rem;
    color: #1b4586;
    font-weight: bold;
    max-width: 100%;
  }
  
  /* Style the paragraphs inside the container */
  .text-container p {
    margin-bottom: 1rem;
    line-height: 1.5; /* Adjust line height as needed */
    text-align: justify;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    /* Decrease font size for smaller screens */
    .text-container {
      font-size: 1rem;
    }
  }
  